[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
async-timeout = "*"
attrs = "*"
beautifulsoup4 = "*"
chardet = "*"
"discord.py" = "*"
idna = "*"
multidict = "*"
pytz = "*"
soupsieve = "*"
typing-extensions = "*"
websockets = "*"
yarl = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
